<% provide(:title, 'Contact') %>

    <h1>Contact</h1>
    <p>
      This is the contact page. Contact me if you cant avoid it. For the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
  
